<%if(products!==null){%>
    <% products.forEach(product=>{ %>
      <div>
        <%= product.item.productName %> <%= product.item.price %> JPY
      </div>
    <% }); %>
    <div>
        Total Qty <%= totalQty %>
    </div>
    <div>
        Total Price <%= totalPrice %>
    </div>
    <a href="/shop/checkout" class="btn btn-primary">Checkout</a>
<%} else { %>
  <div>
    No Items In Cart!
  </div>
<%}%>
